<%- include("partials/headerHome.ejs")%>

    <div class="container-fluid"> 
        <div id="Home" class="d-flex flex-column mb-3">
            
            <div class="p-2 h-25 ">
            </div>
            <div id="set2" class="p-2 h-50 ">
                <div class="p-2 h-25  ">
                </div>
                <div class="p-2 h-50 ">
                    <h1>About Us</h1>
                    <hr>
                    <p>We run a simple website. Hopefully it helps manage the names and notes of your clients.</p>
                    <p>Feel free to donate as you see fit, I think this is a simple application and isn't entirely necessary. Though it might make some things simpler for you.</p>    
                    <hr>
                    <p>Please register for an account to use our services.</p>
                </div>
                <div class="p-2 h-25 ">
                </div>
            </div>
           <div class="p-2 h-25 ">
            </div >
        </div>

        <hr>
        <div id="Donate">
            <div class="w-100 h-100 d-inline-block ">
                <div class="row">
                    <div class=" col-sm-6 col-md-6 col-6">
                        <div class="card" >
                            <h1 class="card-amount">$7.50</h1>                        <div class="card-body">
                              <h5 class="card-title">Donate $7.50</h5>
                              <p class="card-text">This will not change or add any features, this is purely if you just wish to donate. All donations are much appreciated.</p>
                              
                              <a href="https://pay.doulafocus.com/b26f4b8c-fa70-4f25-b82a-32a" class="d-grid mx-auto col-6 btn btn-primary">Donate</a>
                            </div>
                          </div>
                    </div>
                    <div class=" col-sm-6 col-md-6 col-6">
                        <div class="card" >
                            <h1 class="card-amount">$12.50</h1>
                            <div class="card-body">
                              <h5 class="card-title">Donate $12.50</h5>
                              <p class="card-text">This will not change or add any features, this is purely if you just wish to donate. All donations are much appreciated.</p>
                              <a href="https://pay.doulafocus.com/8349da34-041b-4079-816e-dec" class="d-grid mx-auto col-6  btn btn-primary">Donate</a>
                            </div>
                          </div>
                    </div>
                </div>
                    <div class="d-flex justify-content-center">
                        <div class="my-2 col-sm-6 col-md-6 col-6 ">
                            <div class="card" >
                                <h1 class="card-amount">Choose your own amount</h1>
                                <div class="card-body">
                                  <h5 class="card-title">Select amount after clicking Donate.</h5>
                                  <p class="card-text">This will not change or add any features, this is purely if you just wish to donate. All donations are much appreciated.</p>
                                  <a href="https://pay.doulafocus.com" class="d-grid mx-auto col-6  btn btn-primary">Donate</a>
                                </div>
                              </div>
                        </div>
                    
                    
        
                </div>
            </div>
        </div>
        
    </div>
    


<%- include("partials/footer.ejs")%>
